apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: order-processing-system
data:
  POSTGRES_DB: orderdb
  POSTGRES_USER: postgres
